<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
 <div aligh="center">
        <h2>登录界面</h2>
        <form action="doLogin" method = "post">
            用户名：<input type="text" name="uname"><br>
            密码：<input type="password" name="upwd"><br>
            <input type="submit" value="登录">
        </form>
{#        <span>#}
{#            {% for msg in get_flashed_messages() %}#}
{#            {{ mag }}#}
{#            {% endfor %}#}
{#        </span>#}
    </div>
</body>
</html>